@import "tailwindcss";

@theme {
  /* Colors */
  --color-main: #6a5acd;
  --color-surface: #fff;
  --color-background: whitesmoke;
  --color-warning: #fb2c36;
  --color-primary: #009966;
  --color-secondary: #0092b8;
}

#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--color-main);
}

body {
  margin: 0;
}

